<div class="m-10 border border-blue-300 rounded">
  <h1 class="text-gray-700 font-bold m-5">Acciones</h1>

  <div class="m-10">
    <label for="symbol" class="text-gray-700 font-bold">Símbolo de acción:</label>
    <input type="text" id="symbol" [(ngModel)]="inputSymbol" class="border rounded border-gray-300 p-2">
    <button (click)="fetchStockData()" class="bg-blue-500 ml-2 rounded text-white px-4 py-2">Buscar</button>
  </div>

  <div class="m-5">
    <div *ngIf="stockData; else loading">
      <div><strong>Símbolo: </strong> {{ stockData['Meta Data']['2. Symbol'] }}</div>
      <div><strong>Información: </strong>{{ stockData['Meta Data']['1. Information'] }}</div>
      <div><strong>Último refresco: </strong> {{ stockData['Meta Data']['3. Last Refreshed'] }}</div>
      <div><strong>Intervalo: </strong> {{ stockData['Meta Data']['4. Interval'] }}</div>
    </div>
    <div *ngIf="stockData; else loading">
      <table class="table-auto border-collapse mt-10 border border-gray-300">
        <thead>
        <tr>
          <th class="border border-gray-300 p-2">Hora</th>
          <th class="border border-gray-300 p-2">Precio de apertura</th>
          <th class="border border-gray-300 p-2">Precio de cierre</th>
          <th class="border border-gray-300 p-2">Volumen del periodo</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let timestamp of getTimeSeriesKeys(stockData['Time Series (60min)'])">
          <td class="border border-gray-300 p-2">{{ timestamp }}</td>
          <td class="border border-gray-300 p-2">{{ stockData['Time Series (60min)'][timestamp]['1. open'] }}</td>
          <td class="border border-gray-300 p-2" [ngClass]="{
                'text-red-500': stockData['Time Series (60min)'][timestamp]['4. close'] < stockData['Time Series (60min)'][timestamp]['1. open'],
                'text-green-500': stockData['Time Series (60min)'][timestamp]['4. close'] > stockData['Time Series (60min)'][timestamp]['1. open'],
                'text-blue-500': stockData['Time Series (60min)'][timestamp]['4. close'] == stockData['Time Series (60min)'][timestamp]['1. open']
              }">{{ stockData['Time Series (60min)'][timestamp]['4. close'] }}</td>
          <td class="border border-gray-300 p-2">{{ stockData['Time Series (60min)'][timestamp]['5. volume'] }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <ng-template #loading>
      <p>Loading stock data...</p>
    </ng-template>

  </div>
</div>


