.bg-personaje {
  background-image: url('https://storage.googleapis.com/iconos_images/BGhd2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 500px;
  height: auto;
}
