<div class="bg-gray-100 flex flex-col items-center justify-center">
  <h1 class="font-bold text-center my-5">Página de inicio Mao Tec</h1>
  <div class="mb-5">
    <ul class="flex space-x-4">
      <li class="">
        <a class="bg-blue-400 text-white transition-colors duration-100 border hover:bg-white hover:border-blue-300 hover:text-blue-600 p-2 rounded" routerLink="/">Home</a>
      </li>
      <li class="">
        <a class="bg-blue-400 text-white transition-colors duration-100 border hover:bg-white hover:border-blue-300 hover:text-blue-600 p-2 rounded" routerLink="/heroes">Heroes</a>
      </li>
      <li>
        <a class="bg-blue-400 text-white transition-colors duration-100 border hover:bg-white hover:border-blue-300 hover:text-blue-600 p-2 rounded" routerLink="/acciones">Acciones</a>
      </li>
    </ul>
  </div>
</div>
